.fred--open{
  position: absolute;
  z-index: 10;
  top: 3px;
  left: 0;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  padding: .5rem .5rem;
  color: $gray;
  background-color: $black;
  font-size: 1rem;

  &:hover{
    color: $white;
    background-color: darken($black,1%);
  }

}
