.fred--logo{width:35px;margin:0 .5rem; vertical-align: text-bottom;}
.fred--sidebar_title{
  width:100%;
  position: relative;

  h1{
    display: inline-block;
    color: $white;
    line-height: 3rem;
    font-size: 2rem;
    margin: .25rem 0;
  }

  button{
    position: absolute;
    top: 0;
    right: 0;
    padding: .9rem .5rem .7rem .5rem;
    background: transparent;
    svg{fill:$dark-gray;}
    &:hover{
      svg{fill:$white;}
      background-color: darken($black,1%);
    }
  }

}
.fred--sidebar{
  font-family: "Open Sans", Arial, sans-serif;
  background-color: $black;
  width: 240px;
  height:100vh;
  overflow-x: hidden;
  position: fixed;
  top:0;
  left: 0;
  z-index: 99999;
  transition: $timing;
}

.fred--accordion{
  dt{
    overflow: hidden;
    background-color: darken($black,1%);
    border-bottom: 1px solid $black;
    color:$white;
    font-size: 1rem;
    padding:.5rem;
    cursor: pointer;

    span{
      i{
        font-size: .8rem; margin: -2px 5px 0 0; vertical-align: middle; opacity: .7;
      }
    }

    .fred--accordion_toggle{
      float:right; font-size:1.2rem; margin-top:2px;
    }

    &:hover,&.active{
      background-color: $primary;
    }

    &.open{
      background-color: lighten($black,10%);
    }

    &.active{
      + dd{
        display: block;
        background-color: lighten($black,10%);
      }
    }

  }

  dd{
    display:none;
    background-color: lighten($black,5%);
    padding:.5rem;
    color:$light-gray;
    font-size: .9rem;

    .fred--thumbs .fred--thumb{
      background-color: transparent;
      border-bottom: 1px solid $black;
      &:last-of-type{border-bottom: 0;}
      margin-bottom:.5rem;
      cursor:move;

      &:hover{
        figcaption{color:$primary;}
      }
      > div{padding:.5rem;}
      img{min-width: 30px;max-width: 30px;}
      figcaption{
        padding:.5rem;
        line-height: normal;
        em{font-size: .8rem;}
      }
    }
  }
}

.fred--accordion_resource-list{
  li{
    display: block;
    a{
      color: $light-gray;
      display: block;
      &:hover{color:$primary;}
    }
  }
}

.fred--sidebar_paneltwo{
  font-family: "Open Sans", Arial, sans-serif;
  background-color: lighten($black,5%);
  width: 340px;
  height:100vh;
  overflow-x: hidden;
  position: fixed;
  top:0;
  left: 240px;
  z-index: 9999;
  transition: $timing;
}
