.fred--topbar{
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #e4efef;
  width: 100%;
/* TODO MOVE TO FIXED ON SCROLL
  position: fixed;
  z-index: 999;
  top:0;
  left:0;
*/
  ul{
    overflow: hidden;

    li{
      display:inline-block;
      float: left;
      border-right:1px solid #cfd2d2;

      a{
        color: $gray;
        display:block;
        padding:.5rem 1.5rem;
        text-transform: uppercase;
        font-size:.9rem;
        &:hover{
          background-color: $secondary;
          color: $white;
        }
      }

    }
  }

}

.fred--topbar_links{
  padding:0 !important;
}

.fred--topbar_buttons{
  padding: .25rem !important;
  text-align: right;
}
