.fred--logo{width:34px;margin:0 .5rem;}
.fred--topbar{
  font-family: "Open Sans", Arial, sans-serif;
  background-color: $black;
  width: 100%;
/* TODO MOVE TO FIXED ON SCROLL
  position: fixed;
  z-index: 99999;
  top:0;
  left:0;
*/

  li{
    display:inline-block;
    border-right:1px solid $dark-gray;
    &:first-of-type{border-right:0;}
  }
  a{
    color: $white;
    display:block;
    padding:1rem .5rem;
    background-color: $black;
    text-transform: uppercase;
    font-size:1.1rem;
    &:hover{
      background-color: $dark-gray;
    }
  }
}

.fred--topbar_links{
  padding:0 !important;
}

.fred--topbar_buttons{
  padding: .75rem !important;
  text-align: right;
}
