.fred--open {
  position: fixed;
  z-index: 10010;
  top: 4px;
  left: -1px;
  height: auto;
  border: 1px solid rgba($white, .4);
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  padding: 3px 11px;
  font-size: 15px;
  line-height: 25px;
  color: $white;
  background-color: $black;
  transition: $timing;

  &:hover {
    color: $white;
    background-color: darken($black, 15%);
  }

}

.fred--block {
  position: relative;
  min-height: 30px;
  outline: 15px solid rgba($modxblue, 0);
  z-index: 1;

  .fred--hidden{
    display: none !important;
  }

  .fred--block{
    outline: 3px solid rgba($modxblue, 0);
    //&.fred--block-active, &:focus {
    //  transition: $timing cubic-bezier(.79, .14, .15, .86);
    //}
  }
  &:after{
    content: "";
    display:table;
    clear:both;
    width: 100%;
  }
  &.fred--block-active, &:focus {
    outline: 3px solid $modxblue;
    outline-offset: -3px;
    z-index: 99; // was 2 but that didn't work in some cases
    transition: none;
    box-shadow: 0 0 100vh 100vw rgba(#000,.2), 0 0 50px rgba(#000, .5);
    > .fred--toolbar {
      display: block;
      min-height: 36px;
      height: auto;
      opacity: 1;
    }
    > .fred--block_title {
        //min-height: 22px;
        //height: auto;
        opacity: 1;
    }
    > .fred--hidden{
      display: none !important;
    }

  }
  //&.fred--block-active_top{
    //> .fred--toolbar{
    //  bottom: auto;
    //  top: 100%;
    //  transition: 0s all !important;
    //}
    //> .fred--block_content {
    //  &:after {
    //    top: calc(100% + 44px);
    //  }
    //}
  //}
  &.fred--block-active_parent {
    outline: 3px solid lighten($gray, 15%);
    > .fred--toolbar{
      height: 20px;
      z-index: 2;
      .fred--toolbar-grip, button, .fred--position-group{
        opacity: 0;
      }
    }
    > .fred--block_title {
        opacity: 0;
    }
    /*&.fred--block-active_top {
      > .fred--toolbar{
        bottom: auto;
        top: 100%;
        transition: 0s all !important;
      }
    }*/
    .fred--block-active {
      box-shadow: rgba($black, .34) 0 4px 8px;
    }
  }
  &-invalid{
    &:before{
      content: inline-svg('exclamation-triangle',$lightcoral);
      position: absolute;
      top: 0;
      right: 0;
      height: 28px;
      width: 28px;
      z-index: 10011;
    }
    &.fred--block-active{
      outline: 3px solid lighten($lightcoral, 15%);
      box-shadow: 0 0 100vh 100vw rgba(#100,.2), 0 0 50px rgba(#100, .5);
    }
  }

  .fred--toolbar {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    background: transparent;
    margin: 0;
    padding: 0;
    opacity: 0;
    min-height: 0;
    overflow: visible;
    //transition: $timing;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 10009;

    &.handle{
      @include draggable();
    }

    &-grip {
      width: 30px;
      height: 30px;
      overflow: hidden;
      transition: $timing;
      background-image: inline-svg('grip-horizontal', $black);
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: 6px;
      box-sizing: border-box;
      cursor: grab;
      display: block;
      margin: 0 auto;
      //opacity: .6;

      //&:hover {
      //  opacity: 1;
      //}

      &:active, &:focus {
        cursor: grabbing;
      }
    }
    //&:hover{
    //  .fred--toolbar-grip {
    //    opacity: 1;
    //  }
    //}
    button {
      border: none;
      width: 30px;
      height: 34px;
      padding: 4px 0;
      background-color: transparent;
      display: inline-block;

      &:before{
        content: "";
        @include btn();
        padding: 0;
        margin-right: 6px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        transition: .2s;
        background-size: 20px;
        position: relative;
        //background-color: $offwhite;
        //box-shadow: $ui-shad;
        //mix-blend-mode: hard-light;
      }
      &:hover {
        opacity: 1;
      }
    }
    .fred--toolbar-plugins {
      font-family: $font-family;
      position: absolute;
      bottom: calc(100% + 12px);
      right: -5px;
      background-color: $offwhite;
      //box-shadow: 0 0 0 1px rgba($black, .5);
      width: 210px;
      text-align: left;
      padding: 4px;
      border-radius: $radius;
      h3 {
        font-size: 12px;
        font-weight: bold;
        letter-spacing: .5px;
        text-transform: uppercase;
        margin: 0 10px 8px 10px;
        padding: 10px 2px 8px 2px;
        color: $dark-gray;
        border-bottom: 1px solid $border;
      }
      a {
        color: $black;
        display: block;
        padding: 6px 12px;
        font-size: 14px;
        cursor: pointer;
        border: none !important;
        &:hover {
          background-color: $border-light;
        }
      }
      &::after {
        content: " ";
        border-left: solid transparent 10px;
        border-right: solid transparent 10px;
        border-top: solid $offwhite 10px;
        width: 0;
        height: 0;
        position: absolute;
        right: 10px;
        bottom: -10px;
      }
    }
    // ++++++ TODO: rework opactity below, later ++++++ //
    //fred--element-settings, .fred--position-up, .fred--position-down {
    // &::before {
    // opacity: .6;
    // transition: $timing;
    //
    // &:hover::before {
    //   opacity: 1;
    //   transition: $timing;
    // }

    .fred--element-settings {
      display: block;
      height: 32px;
      margin-bottom: $baseGutter/2;

      &:before {                            // override _buttons.scss … move here?
        background-color: transparent;
        background-position: center 1px;
        border-radius: 50%;
        background-color: $offwhite;
        text-align: center;
        box-shadow: $ui-shad;
        background-position: center;
        &:hover {
          opacity: 1;
          transition: $timing;
        }
      }
    }

    .fred--position-group {
      display: block;
      border-radius: 16px;
      background-color: $offwhite;
      text-align: center;
      box-shadow: $ui-shad;

      button{
        display: inline-block;
        width: 30px;
        height: 32px;
        border-radius: 0;
        box-shadow: none;
        background-size: 14px;
        margin: 0;
        &:before{visibility: hidden;}
        &:not(:hover) {
          background-color: transparent;
        }

        &:disabled{
          background-color: transparent;
          opacity: .25;
          &:hover{
            cursor: default;
            background-color: transparent;
          }
        }
      }
      &:hover {
        opacity: 1;
        transition: $timing;
      }
    }
  }

  &.fred--block-active{
    & > .fred--toolbar{
      transition: $timing opacity;
    }
    &_short{
      .fred--toolbar{
        bottom: 5px;
        right: 10px;
        .fred--element-settings{
          display: inline-block;
          margin-bottom: 0;
          margin-right: 8px;
          height: 32px;
          width: 32px;
          &:before{
            height: 32px;
            width: 32px;
          }
        }
        button {
          padding: 2px 0;
        }
        .fred--position-group{
          display: inline-block;
          height: 32px;
          .fred--toolbar-grip{
            display: inline-block;
            background-position: 5px 3px;
          }
        }
        .fred--toolbar-plugins:after{
          right: 110px;
        }
        &.fred--toolbar-opendown{
          .fred--toolbar-plugins {
            top: calc(100% + 8px);
            bottom: initial;
            &:after{
              bottom: initial;
              top: -10px;
              transform: rotate(180deg);
            }
          }
        }
      }
      .fred--block_title{
        left: 5px;
        bottom: 8px;
      }
    }
    &_narrow{
      .fred--toolbar{
        bottom: -45px;
      }
      .fred--block_title{
        display: none;
      }
    }
  }

  .fred--block_title { // the pill with the name of the Element
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    bottom: 20px;
    left: 20px;  // this needs to be adjusted based on the presence of the sidebar otherwise 20px
    border-radius: 50px;
    background: $offwhite;
    color: $black;
    padding: 8px 16px;
    opacity: 0;
    overflow: hidden;
    transition: $timing;
    font-family: $font-family;
    font-size: 14px;
    line-height: 1;
    //mix-blend-mode: hard-light;
    box-shadow: $ui-shad;
    z-index: 99999;
  }

}

.fred--fixed{
  position:fixed !important;
}

*[data-fred-dropzone] {
    min-height: 5px;
    min-width: 5px;
    transition: $timing;
}

//FireFox hack
@-moz-document url-prefix() {
  .fred--block {
    outline:0 !important;
  }
}
