.fred--open {
  position: fixed;
  z-index: 10010;
  top: 4px;
  left: -1px;
  height: auto;
  border: 1px solid rgba($white, .4);
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  padding: 3px 11px;
  font-size: 15px;
  line-height: 25px;
  color: $white;
  background-color: $black;
  transition: $timing;

  &:hover {
    color: $white;
    background-color: darken($black, 15%);
  }

}

.fred--block {
  position: relative;
  min-height: 30px;
  outline: 15px solid rgba($modxblue, 0);
  z-index: 1;
  .fred--block{
    outline: 3px solid rgba($modxblue, 0);
    &.fred--block-active, &:focus {
      //transition: $timing cubic-bezier(.79, .14, .15, .86);
    }
  }
  &:after{
    content: "";
    display:table;
    clear:both;
    width: 100%;
  }
  &.fred--block-active, &:focus {
    outline: 3px solid $modxblue;
    outline-offset: -3px;
    z-index: 2;
    transition: none;
    box-shadow: 0 0 100vh 100vw rgba(#000,.2), 0 0 50px rgba(#000, .5);
    > .fred--toolbar {
      display: block;
      min-height: 36px;
      height: auto;
      opacity: 1;
    }
    > .fred--block_content {
      &:after {
        min-height: 22px;
        height: auto;
        opacity: .85;
      }
    }
    > .fred--hidden{
      display: none !important;
    }

  }
  &.fred--block-active_top{
    > .fred--toolbar{
      bottom: auto;
      top: 100%;
      transition: 0s all !important;
      border-radius: 0 0 0 $radius;
    }
    > .fred--block_content {
      &:after {
        top: calc(100% + 44px);
      }
    }
  }
  &.fred--block-active_parent {
    outline: 3px solid lighten($gray, 15%);
    > .fred--toolbar{
      background: lighten($gray, 45%);
      border-color: lighten($gray, 15%);
      height: 20px;
      z-index: 2;
      .fred--toolbar-grip, button, .fred--position-group{
        opacity: 0;
      }
    }
    > .fred--block_content {
      &:after {
        opacity: 0;
      }
    }
    &.fred--block-active_top{
      > .fred--toolbar{
        bottom: auto;
        top: 100%;
        transition: 0s all !important;
      }
    }
    .fred--block-active{
      box-shadow: rgba($black, .34) 0 4px 8px;
    }
  }

  .fred--toolbar {
    box-sizing: border-box;
    background: $modxblue;
    margin:0;
    text-align: right;
    font-size: 15px;
    line-height: 1;
    height: 0;
    padding: 2px;
    opacity: 0;
    overflow:hidden;
    transition: .2s ease-in;
    position: absolute;
    bottom: 100%;
    right: 0;
    border: 3px solid $modxblue;
    border-radius: $radius 0 0 0;
    border-bottom: 0;
    z-index: 10009;
    min-width: 172px;
    min-height: 0;
    &.handle{
      @include draggable();
    }
    &-grip{
      width: 15px;
      height: 36px;
      display: inline-block;
      overflow: hidden;
      padding: 10px 28px 10px 4px;
      margin-top: -4px;
      color: $white;
      float:left;
      opacity: .75;
      transition: $timing;
      background-image: inline-svg('ellipsis-v', $white);
      background-repeat: no-repeat;
      background-size: 8px;
      background-position: left;
      box-sizing: border-box;
    }
    &:hover{
      .fred--toolbar-grip{
        opacity: 1;
      }
    }

    button {
      @include btn();
      padding: 0;
      margin-right: 6px;
      width: 28px;
      height: 28px;
      display: inline-block;
      border-radius: 50%;
      border: none;
      opacity: .8;
      transition: .2s;
      background-size: 20px;
      box-shadow: 0 1px 0 2px $modxblue;
      &:hover {
        opacity: 1;
        box-shadow: none;
      }
      &:not(:hover){
        background-color: rgba($modxblue, .85);
      }
    }

    .fred--position-group{
      display:inline-block;
      width: 38px;
      height: 28px;
      margin-right: 4px;
      button{
        opacity: .6;
        display: inline-block;
        width: 16px;
        height: 28px;
        border-radius: 0;
        box-shadow: none;
        background-size: 14px;
        margin: 0;
        &:not(:hover) {
          background-color: transparent;
        }
        &:hover{
          opacity: 1;
        }
        &:disabled{
          background-color: transparent;
          opacity: .25;
          &:hover{
            cursor: default;
            background-color: transparent;
          }          
        }
      }
      &:hover {
        opacity: 1;
        box-shadow: none;
      }
    }

  }

  .fred--block_content {
    &:after{
      content: attr(data-fred-element-title);
      display: inline-block;
      box-sizing: border-box;
      font-size: 14px;
      line-height: 1;
      position: absolute;
      border-radius: $radius;
      top: calc(100% + 8px);
      right: 8px;
      background: $white;
      color: #1d1d1d;
      height: 0;
      padding: 8px;
      opacity: 0;
      overflow: hidden;
      transition: .2s ease-in;
      //text-transform: uppercase;
      font-family: Arial, sans-serif;

    }
  }

}

*[data-fred-dropzone] {
    min-height: 5px;
    transition: $timing;
}

//FireFox hack
@-moz-document url-prefix() {
  .fred--block {
    outline:0 !important;
  }
}