.fred--open {
  position: fixed;
  z-index: 10010;
  top: 4px;
  left: -1px;
  height: auto;
  border: 1px solid rgba($white, .4);
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  //padding: 4px .5rem .35rem .5rem;
  padding: 3px 11px;
  font-size: 15px;
  line-height: 25px;
  color: $white;
  background-color: $black;
  transition: $timing;

  &:hover {
    color: $white;
    background-color: darken($black, 15%);
  }

}

.fred--block {
  position: relative;
  //padding:2rem 16px;
  min-height: 30px;
  outline: 15px solid rgba($modxblue, 0);
  transition: $timing cubic-bezier(.79, .14, .15, .86);
  z-index: 1;
  .fred--block{
    outline: 3px solid rgba($modxblue, 0);
    &.fred--block-active, &:focus {
      transition: $timing cubic-bezier(.79, .14, .15, .86);
    }
  }

  //&:nth-child(even){background: #f9f9f9;}
  &:after{
    content: "";
    display:table;
    clear:both;
    width: 100%;
  }
  /*&:before {
    content: '';
    display: block;
    background: transparent;
  }*/
  &.fred--block-active, &:focus {
    outline: 3px solid $modxblue;
    z-index: 2;
    min-height: 1px;
    transition: none;
    /*&:before {
      content: '';
      background: rgba($modxblue, .1);
      width: 100%;
      height: 30px;
    }*/
    > .fred--toolbar {
      display: block;
      height: 36px;
      opacity: 1;
      padding: 3px;
    }
    > .fred--hidden{
      display: none !important;
    }

  }
  &.fred--block-active_parent {
    outline: 3px solid rgba($gray, .75);
    z-index: 1;
    > .fred--toolbar{
      background: lighten($gray, 35%);
      opacity: .5;
      height: 20px;
      .fred--toolbar-grip, button, .fred--position-group{
        opacity: 0;
      }
    }
    .fred--block-active{
      box-shadow: rgba($black, .34) 0 4px 8px;
    }
  }

  .fred--toolbar {
    box-sizing: border-box;
    background: lighten($modxblue, 45%);
    width: 100%;
    margin:0;
    text-align: right;
    right: 0;
    font-size: 15px;
    line-height: 1;
    height: 0;
    opacity: 0;
    overflow:hidden;
    transition: .2s ease-in;
    @include draggable();
    &-grip{
      content: '....';
      width: 15px;
      height: 36px;
      display: inline-block;
      overflow: hidden;
      line-height: 5px;
      padding: 10px 4px;
      vertical-align: middle;
      margin-top: -.7em;
      margin-right: .3em;
      font-size: 12px;
      font-weight: bold;
      font-family: sans-serif;
      letter-spacing: 2px;
      color: $modxblue;
      float:left;
      opacity: .75;
      transition: $timing;
      &:after{
        content: '.. .. .. ..';
      }
    }
    &:hover{
      .fred--toolbar-grip{
        opacity: 1;
      }
    }

    button {
      @include btn();
      padding: 0;
      margin-right: 6px;
      width: 28px;
      height: 28px;
      display: inline-block;
      border-radius: 50%;
      border: none;
      opacity: .8;
      transition: .2s;
      background-size: 20px;
      box-shadow: 0 1px 0 2px $modxblue;
      &:hover {
        opacity: 1;
        box-shadow: none;
      }
      &:not(:hover){
        background-color: rgba($modxblue, .85);
      }
    }

    .fred--position-group{
      display:inline-block;
      width: 38px;
      height: 28px;
      margin-right: 4px;
      button{
        opacity: .6;
        display: inline-block;
        width: 16px;
        height: 28px;
        border-radius: 0;
        box-shadow: none;
        background-size: 14px;
        margin: 0;
        &:not(:hover) {
          background-color: transparent;
        }
        &:hover{
          opacity: 1;
        }
        &:disabled{
          background-color: transparent;
          opacity: .25;
          &:hover{
            cursor: default;
            background-color: transparent;
          }          
        }
      }
      &:hover {
        opacity: 1;
        box-shadow: none;
      }
    }

  }

  .fred--block_content {
    h2 {
      padding-bottom: 16px;
    }
  }

}

@keyframes fred--slide_toolbar {
  0% {
    height: 0;
    overflow: hidden;
  }
  100% {
    height: 30px;
    overflow: visible;
  }
}