.fred--dropzone_highlight {
  background-color: rgba($green, .05);
  padding: 16px 0;
  transition: $timing;
  .fred--block {
    border-bottom: 1px dashed rgba($light-gray, .5);
    .fred--toolbar{
      display:none !important;
    }
  }
  figure + .fred--block{
    border-top: 1px dashed rgba($light-gray, .5);
  }
  *[data-fred-dropzone] {
    min-height: 200px;
    background-color: rgba($green, .05);
  }
}

.fred--thumb {
  &.gu-mirror {
    margin: 0;
    padding: 0;
    cursor: url(images/grabbing.cur);
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
    div, img {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      min-width: 250px;
    }
    figcaption {
      display: none;
      //padding: .5rem;
    }
    &:after {
      content: "";
      display: table;
      width: 100%;
      clear: both;
    }
    img{
      box-shadow: 0 20px 24px rgba(black, .8);
    }
  }
  &.gu-transit {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    animation: fred--thumb_transit .1s ease-in-out;
    /*.img{
      width: 100%;
    }*/
    &:before {
      content: ' ';
      background-color: $light-gray;
      background-image: inline-svg('plus-circle', $modxred);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 46px;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      text-shadow: 1px 1px 1px $white;
      color: $modxred;
      padding: 36px 0;
      width: 100%;
      display: block;
      animation: fred--thumb_transit .1s ease-in-out;
      box-shadow: inset 0 0 0px 4px $modxred;
    }
    div, figcaption {
      display: none;
    }
  }
}

/* @TODO Create animation for reveal */
@keyframes fred--thumb_transit {
  0% {
    padding: 0;
    overflow: hidden;
  }
  100% {
    padding: 24px 0;
  }
}