.fred--dropzone_highlight {
  background-color: rgba($green, .05);
  padding: 16px 0;
  transition: $timing;
  .fred--block {
    border-bottom: 1px dashed rgba($light-gray, .5);
  }
}

.fred--thumb {
  &.gu-mirror {
    margin: 0;
    padding: 0;
    div, img {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
    }
    figcaption {
      display: none;
      //padding: .5rem;
    }
    &:after {
      content: "";
      display: table;
      width: 100%;
      clear: both;
    }
    img{
      box-shadow: 0 20px 24px rgba(black, .8);
    }
  }
  &.gu-transit {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*animation: fred--thumb_transit .3s ease-in-out;
    img{
      width: 100%;
    }*/
    &:before {
      content: ' DROP HERE ';
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      text-shadow: 1px 1px 1px $white;
      color: darken($light-gray, 25%);
      padding: 24px 0;
      width: 100%;
      display: block;
      animation: fred--thumb_transit .3s ease-in-out;
      background: $light-gray;
    }
    div, figcaption {
      display: none;
    }
  }
}

/* @TODO Create animation for reveal */
@keyframes fred--thumb_transit {
  0% {
    height: 0;
    padding: 0;
    overflow: hidden;
  }
  100% {
    padding: 16px;
    height: 64px;
  }
}