.fred--color_swatch {
  .fred--color_swatch-preview {
    width: 100%;
    height: 35px;
    margin: 0 auto 12px;
    //border: 1px solid darken($black, 10%);
    border-radius: $radius;
    box-sizing: border-box;
    box-shadow: $ui-shad;
  }

  .fred--color_swatch-colors {
    display: flex;
    margin: 0 auto;
    vertical-align: middle;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    .fred--color_swatch-color {
      width: 30px;
      height: 30px;
      //border: 1px solid darken($black, 10%);
      border-radius: 15px;
      cursor: pointer;
      display: inline-block;
      box-sizing: border-box;
      position: relative;
      margin: 0 2px 4px;
      box-shadow: $ui-shad;
      &[data-tooltip]:after{
        content: attr(data-tooltip);
        display: none;
        background: darken($black, 5%);
        color: $white;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        padding: 4px;
        border-radius: 3px;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        white-space: nowrap;
      }
      &:hover:after{
        display:inline-block;
      }
    }
  }
}

.fred--color_picker {
  .fred--color_picker-preview {
    width: 100%;
    height: 35px;
    margin: 0 auto 12px;
    border: 1px solid darken($black, 10%);
    border-radius: $radius;
    cursor: pointer;
  }
}
