.fred--input-group{
  display: flex;
  align-items: center;
  .fred--close-small{
    position: relative;
    height: 36px; width: 36px;
    background-color: darken($black, 5%);
    background-position: center;
    background-size: 20px;
    background-blend-mode: overlay;
    margin: 0;
    cursor: pointer;
    transition: $timing;
    &:hover{
      background-color: $black;
    }
  }
  .flatpickr-calendar{
    flex-basis: 100%;
  }
}

.fred--pages_search {
  margin: 32px 8px 16px;
  &_wrapper {
    width: 90%;
    margin: 0 5%;
    position: relative;
  }
  label {
    text-transform: uppercase;
    width: 90%;
    margin: 0 5%;
    font-weight: bold;
    color: lighten($black, 15%);
  }
  input[type="text"] {
    background-color: lighten($black, 5%);
    color: white;
    border: 1px solid darken($black, 5%);
    height: 36px;
    width: calc(100% - 35px);
    border-radius: $radius 0 0 $radius;
    padding: 0 16px;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    border: none;
    height: 36px;
    width: 35px;
    border-radius: 0 $radius $radius 0;
    background-color: darken($black, 5%);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjYyNDMgMTY5Ljg0NiAxOS4xNzkgMTkuMTc5Ij4gIDxkZWZzPiAgICA8c3R5bGU+ICAgICAgLmNscy0xIHsgICAgICAgIGZpbGw6ICNmZmY7ICAgICAgfSAgICA8L3N0eWxlPiAgPC9kZWZzPiAgPGcgaWQ9InNlYXJjaF8yXyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjI0MyAxNjkuODQ2KSI+ICAgIDxnIGlkPSJfeDM3XzA4LXNlYXJjaF94NDBfMngucG5nXzJfIj4gICAgICA8ZyBpZD0iR3JvdXBfMTUiIGRhdGEtbmFtZT0iR3JvdXAgMTUiPiAgICAgICAgPHBhdGggaWQ9IlBhdGhfMTgiIGRhdGEtbmFtZT0iUGF0aCAxOCIgY2xhc3M9ImNscy0xIiBkPSJNMTkuMDc4LDE4LjZsLTUuNC01LjRhNy45LDcuOSwwLDEsMC0uNDc5LjQ3OWw1LjQsNS40YS4zMzkuMzM5LDAsMCwwLC40NzktLjQ3OVpNNy44NzgsMTUuMDdhNy4xOTIsNy4xOTIsMCwxLDEsNy4yLTcuMTkyQTcuMTkyLDcuMTkyLDAsMCwxLDcuODc4LDE1LjA3WiIvPiAgICAgIDwvZz4gICAgPC9nPiAgPC9nPjwvc3ZnPg==);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all $timing;
    &:hover, &:focus {
      background-color: $modxgreen;
    }
  }
}
.fred--pages_create{
  opacity: 1;
  position: fixed;
  width: 320px;
  left: 275px;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  top: 0;
  background-color: lighten($black, 5%);
  fieldset{
    margin: 0;
    padding: 0 16px 24px;
  }
  legend{
    font-size: 21px;
    padding: 16px 5%;
    color: #fff;
    font-weight: lighter;
  }
  label {
    width: 90%;
    margin: 0 5% 16px;
    font-weight: lighter;
    color: $white;
  }
  input[type="text"], input[type="date"], textarea, select {
    background-color: lighten($black, 5%);
    color: white;
    border: 1px solid darken($black, 5%);
    height: 36px;
    width: 100%;
    border-radius: $radius 0 0 $radius;
    padding: 0 16px;
  }
}
.fred--page_settings_form {
  fieldset{
    margin: 32px 8px 0;
    &.fred--page_settings_form_advanced{
      margin: 0;
      padding: 24px 16px;
    }
  }
  label {
    width: 90%;
    margin: 0 5% 16px;
    font-weight: lighter;
    color: $white;
    display: block;
    box-sizing: border-box;
  }
  input[type="text"], input[type="date"], textarea, select {
    background-color: lighten($black, 5%);
    color: white;
    border: 1px solid darken($black, 5%);
    height: 36px;
    width: 100%;
    border-radius: $radius 0 0 $radius;
    padding: 0 16px;
  }
  textarea {
    height: auto;
    padding: 8px 16px;
  }
  button {

  }
  &_checkbox {
    margin-bottom: 4px !important;
    &:last-child {
      margin-bottom: 16px !important;
    }
  }
  &_select {
    select {

    }
  }
  &_save {
    &:not(:hover){
      background-color: $modxgreen;
    }
  }
}

.fred--panel {
  form, fieldset {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  form {
    width: 100%;
  }
  legend {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 0 0 16px;
    text-align: left;
    overflow: hidden;
    border-bottom: 1px solid #000;
    color: #fff;
    font-size: 24px !important;
    font-style: normal !important;
    font-weight: normal !important;
    height: auto;
    padding: 16px;
    cursor: pointer;
  }
  label {
    box-sizing: border-box;
    padding: 0;
    display: block;
    width: calc(90% - 16px);
    margin-top: 0;
    margin-bottom: 16px;
    margin-left: calc(5% + 8px);
    margin-right: calc(5% + 8px);
    font-size: 14px;
    font-weight: lighter;
    color: $white;
  }
  dd{
    label{
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  input, select, textarea {
    background-color: lighten($black, 5%);
    color: white;
    border: 1px solid darken($black, 5%);
    height: 36px;
    width: 100%;
    border-radius: $radius 0 0 $radius;
    padding: 0 16px;
  }
}
.fred--toggle{
  padding-top: 6px !important;
  padding-right: 72px !important;
  min-height: 40px;
  span{
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    padding: 2px;
    width: 48px;
    height: 21px;
    background-color: darken($black, 5%);
    border-radius: 16px;
    float: right;
    margin-top: 2px;
    margin-right: -72px;
    &:after {
      border-radius: 16px;
      display: block;
      position: absolute;
      margin-top: -2px;
      top: 1px;
      left: 1px;
      bottom: 1px;
      content: "";
      width: 22px; height: 22px;
      box-shadow: 0 1px 2px $black;
      background-color: lighten($black, 10%);
      transition: margin 0.4s;
    }
  }
  input{
    position: absolute;
    left: -9999px;
    visibility: hidden;
    &:checked + span{
      &:after {
        margin-left: 25px;
        background-color: $modxgreen;
      }
    }
  }
}
label.fred--label-choices{
  margin-bottom: 0 !important;
}
.choices{
  margin: 0 5% 16px;
}
select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: window;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCA1Ij48ZGVmcz48c3R5bGU+LmJmNjg2ZjliLTQ3NjUtNGQxNy1hZTA0LTc1ZWFlM2VjMDQ4ZXtmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5Bc3NldCAxPC90aXRsZT48ZyBpZD0iMzZkY2ViNmYtYzdkYy00ZTFmLTk2MzAtNTg1ODg3OGQ2ZDE3IiBkYXRhLW5hbWU9IkxheWVyIDIiPjxnIGlkPSI0ZTE5ZjQ5NC00NDI3LTRjZmQtYTc1My05MGQxODIwMzVjNDAiIGRhdGEtbmFtZT0iTGF5ZXIgMSI+PHBvbHlnb24gY2xhc3M9ImJmNjg2ZjliLTQ3NjUtNGQxNy1hZTA0LTc1ZWFlM2VjMDQ4ZSIgcG9pbnRzPSIwIDAgNSA1IDEwIDAgMCAwIi8+PC9nPjwvZz48L3N2Zz4=);
  background-position: calc(100% - 11.5px) center;
  background-repeat: no-repeat;
  -webkit-background-size: 10px;
  background-size: 10px;
  &:focus{
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAgNSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTAgNTsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOiNGRkZGRkY7fTwvc3R5bGU+PHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIxMCw1IDUsMCAwLDUgIi8+PC9zdmc+);
  }
  &::-ms-expand{
    display:none;
  }
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}