.fred--pages_search {
  margin: 32px 8px 16px;
  &_wrapper {
    width: 90%;
    margin: 0 5%;
    position: relative;
  }
  label {
    text-transform: uppercase;
    width: 90%;
    margin: 0 5%;
    font-weight: bold;
    color: lighten($black, 15%);
  }
  input[type="text"] {
    background-color: lighten($black, 5%);
    color: white;
    border: 1px solid darken($black, 5%);
    height: 35px;
    width: calc(100% - 35px);
    border-radius: $radius 0 0 $radius;
    padding: 0 16px;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 0 $radius $radius 0;
    background-color: darken($black, 5%);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjYyNDMgMTY5Ljg0NiAxOS4xNzkgMTkuMTc5Ij4gIDxkZWZzPiAgICA8c3R5bGU+ICAgICAgLmNscy0xIHsgICAgICAgIGZpbGw6ICNmZmY7ICAgICAgfSAgICA8L3N0eWxlPiAgPC9kZWZzPiAgPGcgaWQ9InNlYXJjaF8yXyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjI0MyAxNjkuODQ2KSI+ICAgIDxnIGlkPSJfeDM3XzA4LXNlYXJjaF94NDBfMngucG5nXzJfIj4gICAgICA8ZyBpZD0iR3JvdXBfMTUiIGRhdGEtbmFtZT0iR3JvdXAgMTUiPiAgICAgICAgPHBhdGggaWQ9IlBhdGhfMTgiIGRhdGEtbmFtZT0iUGF0aCAxOCIgY2xhc3M9ImNscy0xIiBkPSJNMTkuMDc4LDE4LjZsLTUuNC01LjRhNy45LDcuOSwwLDEsMC0uNDc5LjQ3OWw1LjQsNS40YS4zMzkuMzM5LDAsMCwwLC40NzktLjQ3OVpNNy44NzgsMTUuMDdhNy4xOTIsNy4xOTIsMCwxLDEsNy4yLTcuMTkyQTcuMTkyLDcuMTkyLDAsMCwxLDcuODc4LDE1LjA3WiIvPiAgICAgIDwvZz4gICAgPC9nPiAgPC9nPjwvc3ZnPg==);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all $timing;
    &:hover, &:focus {
      background-color: $modxgreen;
    }
  }
}

.fred--settings_form {
  fieldset{
    margin: 32px 8px 0;
    &.fred--settings_form_advanced{
      margin: 0;
      padding: 24px 16px;
    }
  }
  label {
    width: 90%;
    margin: 0 5% 16px;
    font-weight: lighter;
    color: $white;
  }
  input[type="text"], input[type="date"], textarea, select {
    background-color: lighten($black, 5%);
    color: white;
    border: 1px solid darken($black, 5%);
    height: 35px;
    width: 100%;
    border-radius: $radius 0 0 $radius;
    padding: 0 16px;
  }
  textarea {
    height: auto;
    padding: 8px 16px;
  }
  button {

  }
  &_checkbox {
    margin-bottom: 4px !important;
    &:last-child {
      margin-bottom: 16px !important;
    }
  }
  &_select {
    select {

    }
  }
  &_save {
    &:not(:hover){
      background-color: $modxgreen;
    }
  }
}

.fred--panel {
  form, fieldset {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  form {
    width: 100%;
  }
  legend {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    text-align: left;
    overflow: hidden;
    border-bottom: 1px solid #000;
    color: #fff;
    font-size: 24px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 0 16px;
    height: auto;
    padding: 16px;
    cursor: pointer;
  }
  label {
    box-sizing: border-box;
    line-height: 18px;
    padding: 12px 16px;
    display: block;
    width: 100%;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: lighten($black, 25%);
  }
  input, select, textarea {
    margin: 0 0 4px;
    box-sizing: border-box;
    width: 100%;
    display: block;
    font-size: 14px;
    line-height: 18px;
    padding: 8px;
    border: 1px solid $gray;
    border-radius: $radius;
  }
}