.fred--launcher {
  position: fixed;
  z-index: 10010;
  margin: 32px;
  display: inline-block;
  bottom: 0;
  left: 0;
  * {
    outline: 0 !important;
  }
  &_btn {
    border-radius: 50%;
    border: none;
    background: $gray center center no-repeat;
    background-size: 60%;
    text-indent: -9999px;
    padding: 0;
    height: 48px;
    width: 48px;
    box-shadow: rgba($black, .34) 0 4px 8px;
    transition: $timing;
    &:hover {
      transform: scale(1.05);
    }
    &_fred {
      background-color: $white;
      background-image: inline-svg('modx-revo-icon-48',$white);
      height: 80px;
      width: 80px;
    }
    &_logout-user{
      background-color: $modxred;
      background-image: inline-svg('power-off', $white);
      position: absolute;
      top: 32px;
      right: -64px;
    }
    &_save {
      background-color: $green;
      background-image: inline-svg('check',$white);
      position: absolute;
      top: -64px;
      left: 20px;
    }
    &_preview {
      background-color: $modxblue;
      background-image: inline-svg('eye',$white);
      position: absolute;
      top: -32px;
      right: -44px;
      &.active{
        transform: scaleX(-1);
        background-color: $green;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItNCAtNCAyMCAyMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtNCAtNCAyMCAyMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjEwcHgiIGhlaWdodD0iMTBweCIgc3R5bGU9IiI+PHBvbHlnb24gcG9pbnRzPSIxNi4wNzksLTAuNjY2IDEyLjcxNywtNC4wMjcgNi4wNTIsMi42MzcgLTAuNjEzLC00LjAyNyAtMy45NzUsLTAuNjY2IDIuNjksNiAtMy45NzUsMTIuNjY0IC0wLjYxMiwxNi4wMjYgNi4wNTIsOS4zNjIgMTIuNzE3LDE2LjAyNyAxNi4wNzksMTIuNjY0IDkuNDE0LDYgIiBzdHlsZT0iZmlsbDogd2hpdGU7Ij48L3BvbHlnb24+PC9zdmc+);
      }
    }
  }
  &_top {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: initial;
    .fred--launcher_btn {
      &_save {
        left: -42px;
        bottom: -36px;
        top: initial;
      }
      &_preview {
        right: 15px;
        bottom: -52px;
        left: initial;
        top: initial;
      }
      &_logout-user{
        right: -42px;
        bottom: -36px;
        left: initial;
        top: initial;
      }
    }
    &_left {
      top: 0;
      left: 0;
      bottom: initial;
      .fred--launcher_btn {
        &_save {
          bottom: -64px;
          top: initial;
        }
        &_preview {
          bottom: -32px;
          top: initial;
        }
        &_logout-user{
          bottom: 32px;
          top: initial;
        }
      }
    }
    &_right {
      top: 0;
      right: 0;
      left: initial;
      bottom: initial;
      .fred--launcher_btn {
        &_save {
          bottom: -64px;
          top: initial;
        }
        &_preview {
          left: -44px;
          bottom: -32px;
          top: initial;
          right: initial;
        }
        &_logout-user{
          left: -64px;
          bottom: 32px;
          top: initial;
        }
      }
    }
  }
  &_bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    .fred--launcher_btn {
      &_save {
        left: -42px;
        top: -36px;
      }
      &_preview {
        right: 15px;
        top: -52px;
        left: initial;
      }
      &_logout-user{
        right: -42px;
        top: -36px;
        left: initial;
      }
    }
    &_left {
      bottom: 0;
      left: 0;
    }
    &_right {
      bottom: 0;
      right: 0;
      left: initial;
      .fred--launcher_btn {
        &_save {
          left:initial;
          right: 16px;
        }
        &_preview {
          left: -44px;
          right: initial;
        }
        &_logout-user{
          left: -64px;
          right: initial;
        }
      }
    }
  }
}
