/*! nouislider - 11.1.0 - 2018-04-02 11:18:13 */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */

.noUi-target {
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
  * {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: $light-gray;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    user-select: none;
    box-sizing: border-box;
  }
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

/* Wrapper for all connect elements.
 */

.noUi-connect, .noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: 0 0;
}


/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */

.noUi-vertical .noUi-origin {
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  position: absolute;
}

.noUi-state-tap {
  .noUi-connect, .noUi-origin {
    transition: transform 0.3s;
  }
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */

.noUi-horizontal {
  height: 14px;
  .noUi-handle {
    width: 23px;
    height: 23px;
  }
}

.noUi-vertical {
  width: 14px;
  .noUi-handle {
    width: 23px;
    height: 23px;
    left: -6px;
    top: -17px;
    //box-shadow: $ui-shad;
  }
}


/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */

.noUi-target {
  background: $light-gray;
  border-radius: 16px;
  border: 1px solid transparent;
  box-shadow: none;
}

.noUi-connects {
  border-radius: 16px;
}

.noUi-connect {
  background: $modxgreen;
}

/* Handles and cursors;
 */

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid transparent;
  border-radius: 50%;
  background: $gray;
  cursor: default;
  box-shadow: none;
}

.noUi-active {
  box-shadow: none;
}

/* Handle stripes;
 */

.noUi-handle {
  &:before {
    content: "";
    display: none;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #E8E7E6;
    left: 14px;
    top: 6px;
  }
  &:after {
    content: "";
    display: none;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #E8E7E6;
    top: 6px;
    left: 17px;
  }
}

.noUi-vertical .noUi-handle {
  &:before {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px;
  }
  &:after {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 17px;
  }
}

/* Disabled state;
 */

[disabled] {
  .noUi-connect {
    background: #B8B8B8;
  }
  &.noUi-target, &.noUi-handle, .noUi-handle {
    cursor: not-allowed;
  }
}

/* Base;
 *
 */

.noUi-pips {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  position: absolute;
  color: #999;
}

/* Values;
 *
 */

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */

.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub, .noUi-marker-large {
  background: #AAA;
}

/* Horizontal layout;
 *
 */

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal {
  &.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px;
  }
  &.noUi-marker-sub {
    height: 10px;
  }
  &.noUi-marker-large {
    height: 15px;
  }
}

/* Vertical layout;
 *
 */

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  transform: translate(0, -50%, 0);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  transform: translate(0, 50%);
}

.noUi-marker-vertical {
  &.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px;
  }
  &.noUi-marker-sub {
    width: 10px;
  }
  &.noUi-marker-large {
    width: 15px;
  }
}

.noUi-tooltip {
  display: none;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: $radius;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.noUi-handle:focus{
  .noUi-tooltip{
    display:block;
  }
}
.noUi-horizontal .noUi-tooltip {
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}
