@use "sass:math";

.fred--panel{
  font-family: $font-family;
  background-color: $white;
  width: 260px;
  height: 100vh;
  opacity: 1;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10011;
  transition: $timing;
  overflow-y: auto;
  overflow-x: visible;
  border-right: 1px solid $border-light;
  &.fred--hidden {
    left: -360px;
    opacity: 0;
  }
  //&_button_wrapper{
  //  margin: 12px;
  //  text-align: right;
  //}
  &_warning{
    background-color: darken($lightcoral, 10%);
    padding: 8px 16px;
    margin-left: calc(5% + 8px);
    margin-right: calc(5% + 8px);
    font-size: 14px;
    line-height: 18px;
    color: $white;
    box-sizing: border-box;
    border: 1px solid darken($black, 10%);
    border-radius: $radius 0 0 $radius;
    margin-bottom: 16px;
  }

  //legend {
  //  background: darken($black, 15%);
  //  &:before{
  //    content: "";
  //    height: 29px;
  //    width: 25px;
  //    margin-right: 8px;
  //    display: inline;
  //    clear: none;
  //    float: left;
  //  }
  //  &.fred--panel_element{
  //    &:before {
  //      background: inline-svg('settings', $white) center center no-repeat;
  //    }
  //  }
  //  &.fred--panel_blueprint{
  //    &:before {
  //      background: inline-svg('object-group', $white) center center no-repeat;
  //    }
  //  }
  //}
  //
  dl {
    margin-top: math.div($baseGutter, 2);
    dt {
      background-color: $offwhite;
      padding: $sidebar-actions-padding;
      font-size: 15px;
      transition: $timing;
      cursor: pointer;
      color: $black;
      position: relative;
      &:after {
        content: ">";
        position: absolute;
        right: 10px;
        top: calc(50% - 12px);
        color: $border-light;
      }
      &:hover, &.active {
        color: $white;
        background-color: $dark-gray;
      }
      &.active {
        + dd {
          left: 260px;
        }
      }
      &:hover:not(:focus){
        background-color: darken($black, 15%);
      }
      + dd {
        background: $white;
        padding: 24px 16px;
        opacity: 1;
        position: fixed;
        width: 280px;
        left: -300px;
        height: 100vh;
        overflow: auto;
        overflow-x: hidden;
        top: 0;
        border: 1px solid $border-light;
        border-width: 0 1px;
        transition: $timing;
        transition-delay: .001s;
        z-index: 99;
        &:hover {
          display: block;
        }
      }
    }
    //&:last-of-type dt:last-of-type{
    //  margin-bottom: 16px;
    //}
  }
  textarea{
    height: initial;
  }
}
//Safari Fixes
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

  .fred--panel {
    overflow-y: auto;
  }
  .fred--panel dl:last-of-type dt:last-of-type.active{
    margin-bottom: 0;
  }
  .fred--panel dd dl dt{
    &.active + dd{
      position: relative;
      left: 0;
      margin-bottom: 18px;
    }
    & + dd{
      height: auto !important;
      width: 260px !important;
      transition: 0s;
    }
  }
}}
