.fred--panel{
  font-family: "Open Sans", Arial, sans-serif;
  background-color: $darkblue;
  width: 260px;
  height: 100vh;
  opacity: 1;
  //overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10011;
  transition: $timing;
  overflow-y: auto;
  overflow-x: visible;
  &.fred--hidden {
    left: -360px;
    opacity: 0;
  }
  &_button_wrapper{
    margin: 12px;
    text-align: right;
  }

  legend {
    background: darken($black, 15%);
    &:before{
      content: "";
      height: 29px;
      width: 25px;
      margin-right: 8px;
      display: inline;
      clear: none;
      float: left;
    }
    &.fred--panel_element{
      &:before {
        background: inline-svg('settings', $white) center center no-repeat;
      }
    }
    &.fred--panel_blueprint{
      &:before {
        background: inline-svg('object-group', $white) center center no-repeat;
      }
    }
  }

  dl {
    dt {
      position: relative;
      padding: 16px 22px;
      font-size: 20px;
      font-weight: lighter;
      transition: $timing;
      cursor: pointer;
      color: $white;
      &:before{
        content: "";
        width: 16px; height: 16px;
        border-radius: 16px;
        display:inline-block;
        margin-right: 8px;
        background: inline-svg('cog', $white) center center no-repeat;
        background-color: transparent;
        transition: $timing;
        opacity:.8;
      }
      &.active {
        color: $modxgreen;
        background-color: darken($black, 15%);
        &:before{
          opacity:1;
        }
      }
      &.active {
        + dd {
          left: 260px;
        }
      }
      &:hover:not(:focus){
        background-color: darken($black, 15%);
      }
      + dd {
        padding: 24px 16px;
        opacity: 1;
        position: fixed;
        width: 280px;
        left: -300px;
        height: 100vh;
        overflow: auto;
        overflow-x: hidden;
        top: 0;
        background-color: lighten($black, 5%);
        //box-shadow: -250px 0 10px rgba(0,0,0,0.2), -10px 0 10px rgba(0,0,0,0.2);
        z-index: 99;
        transition: $timing;
        &:hover {
          display: block;
        }
      }
    }
    &:last-of-type dt:last-of-type{
      margin-bottom: 16px;
    }
  }
}
//Safari Fixes
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

  .fred--panel {
    overflow-y: auto;
  }
  .fred .fred--panel dl:last-of-type dt:last-of-type.active{
    margin-bottom: 0;
  }
  .fred .fred--panel dd dl dt{
    &.active + dd{
      position: relative;
      left: 0;
      margin-bottom: 18px;
    }
    & + dd{
      height: auto !important;
      width: 260px !important;
      transition: 0s;
    }
  }
}}