// Reset

/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */

$root-box-sizing: border-box !default;
$root-font-family: sans-serif !default;
$root-font-size: 16px !default;
$root-line-height: 1.6em !default;
$root-text-rendering: optimizeLegibility !default;

$anchor-text-decoration: none !default;
$form-element-min-height: if(unitless($root-line-height), #{$root-line-height}em, if(unit($root-line-height) != '%', $root-line-height, null)) !default;
$media-element-vertical-align: middle !default;
$monospace-font-family: monospace !default;
$table-border-collapse: collapse !default;
$table-border-spacing: 0 !default;
$textarea-resize: vertical !default;


/*
 * Universal inheritance
 */

*:not([class^="fa"]),
::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
  border-style: solid;
  border-width: 0;
}

// remove margin and padding of all elements

*:not([class^="fa"]) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: initial;
  height: auto;
  width: auto;
  font-weight: initial;
  line-height: 24px;
  letter-spacing: initial;
  white-space: initial;
  font-size: 14px;
}

/*
 * Normalization
 */

button, input, select, textarea, pre, ul, ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
h1, h2, h3, h4, h5, h6, p, dl, ol, ul, dt, dd {
  margin: 0;
}
ul, ol {
  list-style: none;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}
form, fieldset, label {
  border: none;
  padding: 0;
  margin: 0;
}
img {
  border: none;
  max-width: 100%;
}

a:focus, a:active, input:focus, input:active, button:focus, button:active, select:focus, select:active, textarea:focus, textarea:active{
  outline: 0;
}

[hidden] {
  display: none; // Internet Explorer 10-
}

[unselectable] {
  user-select: none; // Android 4.4+, Chrome 40+, Firefox 36+, iOS 8+, Safari 8+
}

// specify the text decoration of anchors

a {
  text-decoration: $anchor-text-decoration;
}

// specify media element style

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: $media-element-vertical-align;
}

// specify the font family of code elements

code,
kbd,
pre,
samp {
  font-family: $monospace-font-family, monospace;
}

// specify the border styles of tables

table {
  border-collapse: $table-border-collapse;
  border-spacing: $table-border-spacing;
}

// specify textarea resizability

textarea {
  resize: $textarea-resize;
}

// hide content from screens but not screenreaders

@media screen {
  [hidden~="screen"] {
    display: inherit;
  }

  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
  }
}
