.fred--sidebar_close{
  position: absolute;
  width:40px;
  height: 100vh;
  top: 0;
  right: 0;
  padding: .5rem;
  background: lighten($black,1%);
  transition: $timing;
  svg{
    fill:$dark-gray;
    position: absolute;
    top:.6rem;
    left:.6rem;
    transition: $timing;
    pointer-events: none;
  }
  &:hover{
    svg{fill:$white;}
    background-color: darken($black,1%);
  }
}

.fred--logo{
  width:35px;margin:2px .5rem; vertical-align: text-bottom;
}

.fred--sidebar_title{
  width:100%;
  position: relative;
  vertical-align: top;

  h1{
    display: inline-block;
    color: $white;
    line-height: 2rem;
    font-size: 1.6rem;
    margin: .25rem 0
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
    font-weight: normal;
  }

}

.fred--sidebar{
  font-family: "Open Sans", Arial, sans-serif;
  background-color: $black;
  width: 360px;
  height:100vh;
  overflow-x: hidden;
  position: fixed;
  top:0;
  left: 0;
  z-index: 9999;
  transition: $timing;
}

.fred--accordion{
  dt{
    overflow: hidden;
    background-color: darken($black,1%);
    border-bottom: 1px solid #000;
    color:$white;
    font-size: 1rem !important;
    padding:.7rem .5rem !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin-top: 0 !important;
    cursor: pointer;

    span{
      i{
        font-size: .8rem; margin: -2px 5px 0 0; vertical-align: middle; opacity: .7;
      }
    }

    .fred--accordion_toggle{
      font-size:1.2rem; margin:2px 5px 0 0; width:14px; text-align: center;
    }

    &:hover,&.active{
      background-color: $primary;
    }

    &.active{
      + dd{
        display: block;
        background-color: lighten($black,10%);
      }
    }

  }

  dd{
    display:none;
    background-color: lighten($black,5%);
    padding:.5rem;
    color:$light-gray;
    font-size: .9rem;

    .fred--thumbs .fred--thumb{
      background-color: transparent;
      border-bottom: 1px solid $black;
      &:last-of-type{border-bottom: 0;}
      margin-bottom:.5rem;
      cursor:move;

      &:hover{
        figcaption{color:$primary;}
      }
      > div{padding:.5rem;}

      figcaption{
        padding:.5rem;
        font-size: .95rem;
        line-height: normal;
        em{font-size: .8rem;}
        strong{display:block;font-size:1.15rem;}
      }
    }
  }
}

.fred--accordion_resource-list{
  li{
    display: block;
    a{
      color: $light-gray;
      display: block;
      &:hover{color:$primary;}
    }
  }
}

.fred--sidebar_paneltwo{
  font-family: "Open Sans", Arial, sans-serif;
  background-color: lighten($black,5%);
  border-right: 1px solid #000;
  width: 320px;
  height:100vh;
  overflow-x: hidden;
  position: fixed;
  top:0;
  left: 0;
  z-index: 99999;
  transition: $timing;
}
