.fred--sidebar_close {
  position: absolute;
  right: 8px;
  z-index: 10010;
  top: 4px;
  height: auto;
  border: 1px solid rgba($white, .4);
  border-radius: $radius;
  padding: 3px 11px !important;
  font-size: 15px !important;
  line-height: 25px;
  color: $white;
  background-color: $black;
  transition: $timing;
  i:nth-child(2) {
    margin-left: -5px;
  }
  &:hover {
    color: $white;
    background-color: darken($black, 15%);
  }
}

.fred--hidden {
  position: absolute;
  left: -360px !important;
  opacity: 0 !important;
}

.fred--logo {
  width: 35px;
  margin: 4px 8px;
}

.fred--sidebar_title {
  width: calc(100% - 40px);
  position: relative;
  display: flex;
  align-items: center;

  h1 {
    display: inline-block;
    color: $white;
    line-height: 32px;
    font-size: 25px;
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
    font-weight: normal;
    margin: 0;
  }

}

.fred--sidebar {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: $black;
  width: 275px;
  height: 100vh;
  opacity: 1;
  //overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10011;
  transition: $timing;
  &.fred--hidden {
    left: -360px;
    opacity: 0;
  }
  &_pages {
    &:before {
      content: "";
      height: 35px;
      width: 35px;
      background: url('images/pages.svg') center center no-repeat;
      margin-right: 8px;
    }
    &.active, &:hover, &:focus {
      background-color: $modxred !important;
    }
  }
  &_elements {
    &:before {
      content: "";
      height: 35px;
      width: 35px;
      background: url('images/elements.svg') center center no-repeat;
      margin-right: 8px;
    }
    &.active, &:hover, &:focus {
      background-color: $modxblue !important;
    }
  }
  &_page_settings {
    &:before {
      content: "";
      height: 35px;
      width: 35px;
      background: url('images/settings.svg') center center no-repeat;
      margin-right: 8px;
    }
    &.active, &:hover, &:focus {
      background-color: $modxgreen !important;
    }
  }
}

.fred--accordion {
  > dt {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: darken($black, 1%);
    border-bottom: 1px solid #000;
    color: $white;
    font-size: 24px !important;
    padding: 24px 8px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin-top: 0 !important;
    cursor: pointer;
    transition: $timing;

    span {
      i {
        font-size: 13px;
        margin: -2px 5px 0 0;
        vertical-align: middle;
        opacity: .7;
        transition: $timing;
      }
    }

    .fred--accordion_toggle {
      font-size: 20px;
      margin: 2px 0 0 5px;
      width: 14px;
      text-align: center;
    }

    &:hover, &.active, &:focus {
      background-color: $primary;
    }

    &.active {
      > i {
        position: absolute;
        right: 16px;
        background-size: contain;
        opacity: .15;
        width: 24px; height: 24px;
        margin: 0;
        background-repeat: no-repeat;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItNCAtNCAyMCAyMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtNCAtNCAyMCAyMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjEwcHgiIGhlaWdodD0iMTBweCIgc3R5bGU9IiI+PHBvbHlnb24gcG9pbnRzPSIxNi4wNzksLTAuNjY2IDEyLjcxNywtNC4wMjcgNi4wNTIsMi42MzcgLTAuNjEzLC00LjAyNyAtMy45NzUsLTAuNjY2IDIuNjksNiAtMy45NzUsMTIuNjY0IC0wLjYxMiwxNi4wMjYgNi4wNTIsOS4zNjIgMTIuNzE3LDE2LjAyNyAxNi4wNzksMTIuNjY0IDkuNDE0LDYgIiBzdHlsZT0iZmlsbDogd2hpdGU7Ij48L3BvbHlnb24+PC9zdmc+);
        transition: $timing opacity;
      }
      + dd {
        display: block;
        transition: $timing;
        opacity: 1;
      }
      &:hover {
        background-color: darken($black, 1%);
        > i{
          opacity: .75
        }
        + dd {
          opacity: .5;
        }
      }
    }

  }

  dd {
    display: none;
    color: $white;
    font-size: 14px;
    position: relative;

    .fred--thumbs .fred--thumb {
      background-color: transparent;
      border-bottom: 1px solid $black;
      margin-bottom: 8px;
      transition: $timing;
      @include draggable();
      &:last-of-type {
        border-bottom: 0;
      }

      img {
        max-width: 100%;
      }

      figcaption {
        padding: 8px;
        font-size: 15px;
        line-height: normal;
        position: absolute;
        top: 8px;
        left: 8px;
        background: rgba(black, .6);
        opacity: 0;
        transition: $timing;
        em {
          font-size: 13px;
        }
        strong {
          display: block;
          color: white;
        }
      }

      &:hover {
        transform: scale(1.05);
        background-color: $black;
        figcaption {
          opacity: 1
        }
      }
      > div {
        padding: 8px;
      }
    }
    dl {
      dt {
        position: relative;
        padding: 16px 32px 16px 48px;
        font-size: 20px;
        font-weight: lighter;
        transition: $timing;
        cursor: pointer;
        &.active, &:hover, &:focus {
          color: $modxgreen;
          background-color: darken($black, 15%);
          + dd {
            display: block;
          }
        }
        + dd {
          transition: $timing;
          opacity: 1;
          position: fixed;
          width: 320px;
          left: 275px;
          height: 100vh;
          overflow: auto;
          overflow-x: hidden;
          top: 0;
          background-color: lighten($black, 5%);
          &:hover {
            display: block;
          }
        }
      }
    }
  }
}

.fred--accordion_resource-list {
  li {
    display: block;
    a {
      color: $light-gray;
      display: block;
      &:hover {
        color: $primary;
      }
    }
  }
}

.fred--pages {
  &_list {
    font-size: 20px;
    & > dt{
      font-size: inherit !important;
    }
    dl {
      border-left: 2px solid $white;
      margin-left: 2px;
      font-size: .95em;
      & > dt{
        font-size: inherit !important;
      }
    }
  }
  &_menu {
    h3 {
      font-size: 21px;
      padding: 16px 32px;
      color: $white;
      font-weight: lighter;
    }
    button {
      color: $white;
      position: relative;
      padding: 16px 32px;
      font-size: 20px;
      font-weight: lighter;
      transition: $timing;
      cursor: pointer;
      background: transparent;
      border: none;
      display: block;
      width: 100%;
      text-align: left;
      &:hover, &:focus {
        background-color: darken($black, 15%);
      }
    }
  }
  &_deleted {
    cursor: not-allowed !important;
    color: rgba($modxred, .5);
    text-decoration: line-through;
  }
  &_unpublished {
    font-style: italic;
  }
  &_hidden {
    color: rgba($white, .5);
  }
  &_noedit {
    cursor: not-allowed !important;
    &:hover, &:focus, &.active {
      color: $white !important;
      background: transparent !important;
    }
  }
}

.fred--sidebar_paneltwo {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: lighten($black, 5%);
  border-right: 1px solid #000;
  width: 320px;
  height: 100vh;
  opacity: 1;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  transition: $timing;
  &.fred--hidden {
    left: -360px;
    opacity: 0;
  }
}

.fred--loading_wrapper {
  margin: 32px auto;
  color: $white;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  animation: fred--fadein .3s ease-in;
}

@keyframes fred--fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}