.fred--sidebar_close {
  position: absolute;
  right: 8px;
  z-index: 10010;
  top: 4px;
  height: auto;
  border: 1px solid rgba($white, .4);
  border-radius: $radius;
  padding: 3px 11px !important;
  font-size: 15px !important;
  line-height: 25px;
  color: $white;
  background-color: $black;
  transition: $timing;
  display: none;
  i:nth-child(2) {
    margin-left: -5px;
  }
  &:hover {
    color: $white;
    background-color: darken($black, 15%);
  }
}

.fred--hidden {
  position: absolute;
  left: -360px !important;
  opacity: 0 !important;
}

.fred--logo {
  width: 35px;
  margin: 4px 8px;
  cursor: pointer;
}

.fred--sidebar_button-group{
  position: absolute;
  bottom: 24px;
}

.fred--sidebar_title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  h1 {
    display: inline-block;
    color: $white;
    line-height: 32px;
    font-size: 25px;
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
    font-weight: normal;
    margin: 0;
    text-indent: -9999px;
  }
  .fred--logo{
    margin: 19px 8px 0;
    width: 42px;
    height: 42px;
    padding: 5px;
    background-color: $white;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: $radius;
    transition: $timing;
    &:hover{
      transform: scale(1.05);
    }
  }
}

.fred--sidebar {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: $black;
  height: 100vh;
  opacity: 1;
  //overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10011;
  transition: $timing;
  overflow-y: auto;
  overflow-x: visible;
  &.fred--hidden {
    left: -360px;
    opacity: 0;
    transition: none;
    & *{
      visibility: hidden;
    }
  }
  & > dl {
    outline: none;
    & > dt{
      position: relative;
      outline: none;
      &:before {
        content: "";
        height: 18px;
        width: 21px;
        margin-bottom: 4px;
      }
      &:after{
        content: "";
        position: absolute;
        background: $white;
        bottom: 0;
        height: 1px;
        left: 12px;
        right: 12px;
        opacity: .2;
        border-radius: 8px;
        animation: fred--dt-after-slide $timing;
      }
      &.active{
        &:after{
          left: -4px;
          right: auto;
          opacity: .3;
          width: 8px; height: auto;
          top: 16px;
          bottom: 16px;
          animation: fred--dt-after-slide-active $timing;
        }
      }
      &.active, &:hover, &:focus {
        background-color: $darkblue !important;
      }
    }
  }
  &_pages {
    &:before {
      background: inline-svg('sitemap', $white) center center no-repeat;
    }
  }
  &_elements {
    &:before {
      background: inline-svg('clone', $white) center center no-repeat;
    }
  }
  &_blueprints {
    &:before {
      background: inline-svg('object-group', $white) center center no-repeat;
    }
  }
  &_more {
    &:before {
      background: inline-svg('ellipsis-h', $white) center center no-repeat;
    }
  }
  &_page_settings {
    &:before {
      background: inline-svg('cog', $white) center center no-repeat;
    }
    + dd dt {
      &:hover{
        //background: darken($green, 10%) !important;
      }
    }
  }
}

.fred--accordion {
  h3 {
    font-size: 21px;
    padding: 16px 22px 16px 32px;
    color: $white;
    font-weight: lighter;
    border-bottom: 1px solid rgba($white, .2);
  }
  a{
    color: $white;
  }
  > dt {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: $blue;
    color: $white;
    font-size: 12px !important;
    padding: 20px 8px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin-top: 0 !important;
    cursor: pointer;
    width: 80px;
    text-align: center;
    line-height: 16px;
    transition: $timing;
    span {
      i {
        font-size: 13px;
        margin: -2px 5px 0 0;
        vertical-align: middle;
        opacity: .7;
        transition: $timing;
      }
    }

    .fred--accordion_toggle {
      font-size: 20px;
      margin: 2px 0 0 5px;
      width: 14px;
      text-align: center;
      display:none;
    }

    &.active, &:hover, &:focus {
      background-color: $primary;
    }

    &.active {
      > i {
        position: absolute;
        right: 16px;
        background-size: contain;
        opacity: .15;
        width: 24px; height: 24px;
        margin: 0;
        background-repeat: no-repeat;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItNCAtNCAyMCAyMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtNCAtNCAyMCAyMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjEwcHgiIGhlaWdodD0iMTBweCIgc3R5bGU9IiI+PHBvbHlnb24gcG9pbnRzPSIxNi4wNzksLTAuNjY2IDEyLjcxNywtNC4wMjcgNi4wNTIsMi42MzcgLTAuNjEzLC00LjAyNyAtMy45NzUsLTAuNjY2IDIuNjksNiAtMy45NzUsMTIuNjY0IC0wLjYxMiwxNi4wMjYgNi4wNTIsOS4zNjIgMTIuNzE3LDE2LjAyNyAxNi4wNzksMTIuNjY0IDkuNDE0LDYgIiBzdHlsZT0iZmlsbDogd2hpdGU7Ij48L3BvbHlnb24+PC9zdmc+);
        transition: $timing opacity;
      }
      + dd {
        //display: block;
        transition: $timing;
        opacity: 1;
        z-index: 2;
        left: 80px;
      }
      &:hover {
        background-color: darken($black, 1%);
        > i{
          opacity: .75
        }
        + dd {
          //opacity: .5;
        }
      }
    }
    &:not(.active){
      + dd {
        left: -300px;
        dd {
          left: -300px !important;
        }
      }
    }

  }

  dd {
    //display: none;
    color: $white;
    font-size: 14px;
    transition: $timing;
    opacity: 0;
    position: fixed;
    width: 260px;
    left: -300px;
    height: 100vh;
    overflow: auto;
    //overflow-x: hidden;
    top: 0;
    background-color: $darkblue;

    .fred--thumbs .fred--thumb {
      background-color: transparent;
      border-bottom: 1px solid $black;
      margin-bottom: 8px;
      position: relative;
      @include draggable();
      &:last-of-type {
        border-bottom: 0;
      }

      img {
        max-width: 100%;
      }

      figcaption {
        padding: 8px;
        font-size: 15px;
        line-height: normal;
        position: absolute;
        top: 0;
        left: -300px;
        background: rgba(black, .6);
        opacity: 0;
        transition: $timing;
        em {
          font-size: 13px;
        }
        strong {
          display: block;
          color: white;
        }
      }
      > div {
        padding: 8px;
        transition: $timing;
      }
      &:hover {
        > div {
          transform: scale(1.05);
          background-color: $black;
        }
        figcaption {
          opacity: 1;
          left: 0;
        }
      }
    }
    dl {
      z-index: 3;
      dt {
        position: relative;
        padding: 16px 16px;
        font-size: 20px;
        font-weight: lighter;
        transition: $timing;
        cursor: pointer;
        min-height: 56px;
        max-width: 260px;
        &.active {
          color: $modxgreen;
          background-color: darken($black, 15%);
          //pointer-events: none;
        }
        &:before{
          content: "";
          width: 16px; height: 16px;
          border-radius: 16px;
          display:inline-block;
          margin-right: 8px;
          background-color: transparent;
          transition: $timing;
          opacity:.8;
        }
        &.fred--accordion{
          &-cog{
            &:before{
              background: inline-svg('cog', $white) center center no-repeat;
            }
            &.active{
              &before{
                opacity: 1;
              }
            }
          }
          &-plus{
            &:before{
              background: inline-svg('plus-circle', $white) center center no-repeat;
            }
            &.active{
              &before{
                opacity: 1;
              }
            }
          }
        }
        + dd {
          transition: .001s;
          transition-delay: .3s;
        }
        &.active {
          + dd {
            display: block;
            opacity: 1;
            position: fixed;
            width: 280px;
            left: 340px;
            height: 100vh;
            overflow: auto;
            overflow-x: hidden;
            top: 0;
            background-color: lighten($black, 5%);
            transition: $timing;
            transition-delay: .001s;
            z-index: 99;
          }
        }
        &:hover:not(:focus){
          background-color: darken($black, 15%);
        }
        > a{
          padding: 16px 16px 16px 40px;
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          font-weight: 100;
        }
      }
      dd{
        h3{
          padding: 16px 22px 16px 22px;
        }
      }
    }
  }
}

.fred--accordion_resource-list {
  li {
    display: block;
    a {
      color: $light-gray;
      display: block;
      &:hover {
        color: $primary;
      }
    }
  }
}

.fred--accordion dd .fred--pages {
 dl.fred--pages_list {
    font-size: 20px;
    dt:not([class^="fred--accordion"]){
      padding: 16px 22px 16px 36px;
      font-size: .9em;
      &:before{
        display:none;
      }
    }
    & > dt{
      font-size: inherit;
    }
    dl {
      border-left: 2px solid rgba($white, .2);
      margin-left: 2px;
      font-size: .95em;
      transition: $timing left;
      &:not(.fred--hidden){
        position: relative;
        left: 0;
        width: 100%;
        height: auto;
      }
      & > dt{
        font-size: inherit;
        padding-left: 40px !important;
      }
    }
  }
  &_menu {
    button, a {
      color: $white;
      position: relative;
      padding: 16px 32px;
      font-size: 20px;
      font-weight: lighter;
      transition: $timing;
      cursor: pointer;
      background: transparent;
      border: none;
      display: block;
      width: 100%;
      text-align: left;
      &:hover, &:focus {
        background-color: darken($black, 15%);
      }
    }
  }
  &_deleted {
    color: rgba($modxred, .5);
    text-decoration: line-through;
  }
  &_unpublished {
    font-style: italic;
  }
  &_hidden {
    color: rgba($white, .5);
  }
  &_noedit {

  }
}

.fred--sidebar_paneltwo {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: lighten($black, 5%);
  border-right: 2px solid #0c4eac;
  width: 260px;
  height: 100vh;
  opacity: 1;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  transition: $timing;
  &.fred--hidden {
    left: -360px;
    opacity: 0;
  }
}

.fred--loading_wrapper {
  color: $white;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  animation: fred--fadein .3s ease-in;
  width: 80px;
  line-height: 18px;
  font-size: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-height: 675px) {
  .fred--accordion{
    & > dt{
      padding: 12px 8px !important;
    }
  }
}
//Safari Fixes
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

  .fred--sidebar {
    overflow-y: auto;
  }
  .fred--accordion dd{
    overflow: auto;
  }
  .fred .fred--accordion dd dl dt{
    &.active + dd{
      position: relative;
      left: 0;
    }
    & + dd{
      height: auto !important;
      width: 260px !important;
      transition: 0s;
    }
  }
}}
@keyframes fred--fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fred--dt-after-slide {
  0% {
    right: auto;
    opacity: .3;
    width: 8px; height: calc(100% - 32px);
    left: -4px;
    top: 16px;
    bottom: 16px;
  }
  60% {
    right: auto;
    width: 8px;
    height: 8px;
    left: 0;
    top: calc(100% - 1px);
    bottom: 0;

  }
  100% {
    height: 1px;
    left: 12px;
    right: 12px;
    opacity: .2;
    width: calc(100% - 24px);
    top: calc(100% - 1px);
    bottom: 0;
  }
}
@keyframes fred--dt-after-slide-active {
  0% {
    height: 1px;
    left: 12px;
    right: 12px;
    opacity: .2;
    top: calc(100% - 1px);
    bottom: 0;
  }
  30% {
    right: auto;
    width: 8px;
    height: 8px;
    left: 0;
    top: calc(100% - 1px);
    bottom: 0;

  }
  100% {
    opacity: .3;
    width: 8px; height: calc(100% - 32px);
    top: 16px;
    bottom: 16px;
  }
}