.fred--tagger_group_title {
  float: left;
  margin-bottom: 10px;
}

.fred--tagger_tag {
  border: solid 2px darken($darkblue, 5%);
  background: darken($darkblue, 5%);
  color: lighten($blue, 25%);
  margin-right: 5px;
  border-radius: $radius;
  padding: 3px 10px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
  transition: $timing;

  &.fred--tagger_tag_active {
    color: $modxgreen;
    border-color: $modxgreen;
  }
}

.fred--tagger_input_toggle {
  background-color: green;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  font-size: 25px;
  color: white;
  margin-left: 10px;

  &.fred--tagger_input_toggle_open {
    transform: rotate(45deg);
    background-color: red;
  }
}

.fred--tagger_input_wrapper {
  clear: both;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  .fred--tagger_input {
    background-color: lighten($black, 5%);
    color: white;
    border: 1px solid darken($black, 15%);
    height: 36px;
    width: calc(100% - 35px);
    border-radius: $radius 0 0 $radius;
    padding: 0 16px;
  }
  .fred--tagger_add_tag{
    position: relative;
    height: 36px; width: 36px;
    background-color: darken($black, 10%);
    background-image: inline-svg('plus');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-blend-mode: overlay;
    margin: 0;
    cursor: pointer;
    text-indent: -9999px;
    transition: $timing;
    &:hover{
      background-color: $black;
    }
  }
  .fred--tagger_open_list{
    position: relative;
    height: 36px; width: 36px;
    background-color: darken($black, 10%);
    background-image: inline-svg('caret-down');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-blend-mode: overlay;
    margin: 0;
    cursor: pointer;
    text-indent: -9999px;
    transition: $timing;
    &:hover{
      background-color: $black;
    }
  }
}

.fred--tagger_tags_wrapper {
  clear: both;
}

.fred--autocomplete_suggestions {
  text-align: left;
  cursor: default;
  border: 1px solid #ccc;
  border-top: 0;
  background: #fff;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);

  /* core styles should not be changed */
  position: absolute;
  display: none;
  z-index: 9999;
  max-height: 254px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  
  .fred--autocomplete_suggestion {
    position: relative;
    padding: 0 .6em;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.02em;
    color: #333;

    &.fred--autocomplete_suggestion_selected {
      background: #f0f0f0;
    }
  }
}