.mce-fred--modxlink-panel {
  left: 0 !important;
  width: 100% !important;
  padding-top: 15px;
}
.mce-container-body.mce-abs-layout{
  overflow:visible;
}
#page, #page-body, #page-body > div, #pagecontainer, #pagecontainer-body{
  width: 100% !important;
  height: auto !important;
  position: relative !important;
}
#page-body > div{
  top: auto !important;
  margin-top: 15px;
  label{
    position: relative !important;
  }
  input#page_anchor{
    position: relative !important;
    left: 15px !important;
  }
}
#pagecontainer{
  label{
    margin-top: 5px;
  }
  .choices{
    width: calc(100% - 137px);
    position: absolute;
    top: 0;
    left: 137px;
    &__inner{
      min-height: 28px;
      border-radius: 0;
    }
  }
}
.mce-tab{
  border: 1px solid transparent;
  font-weight: bold;
  font-size: 15px;
  &.mce-active{
    border: 1px solid #c5c5c5;
    background: $white;
    border-bottom-color: transparent;
    height: 15px;
  }
}
.mce-tabs, .mce-tabs+.mce-container-body{
  background-color: transparent;
}