.fred--topbar{
  font-family: "Open Sans", Arial, sans-serif;
  background-color: $black;
  width: 100%;
  z-index: 9;
  top:0;
  left:0;

  ul{
    overflow: hidden;

    li{
      display:inline-block;
      float: left;
      border-right:1px solid rgba($white, .4);
      &:last-child{
        border-right: none;
      }

      a{
        color: $white;
        display:block;
        padding:.65rem 1.5rem;
        text-transform: uppercase;
        font-size:.9rem;
        transition: $timing;
        &:hover{
          background-color: darken($black, 15%);
          color: $white;
          cursor: pointer;
        }
      }

    }
  }

}

.fred--topbar_links{
  padding:0 0 0 3rem !important;
  margin: 0 !important;
  float: left;
}

.fred--topbar_buttons{
  padding: .25rem !important;
  text-align: right;
  float:right;

  .fred--btn-small{
    margin-right: .5rem;
  }
}
