

.fred--clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}


.fred--modal-bg{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  background: rgba($black,0.5);

  .fred--modal{
    background-color: $offwhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    width: 480px;
    max-height: 95vh;
    overflow: auto;

    label {
      color: $black;
      display: block;
      box-sizing: border-box;
      font-size: 12px;  
    }
    input[type="text"], input[type="date"], textarea, select, .choices { // mirrored from _forms.scss
      background-color: $offwhite;
      color: $black;
      border-radius: 2.5px 2.5px 0 0;
      border-bottom: 1px solid $border-light;
      padding: 0 4px;
      margin: auto -4px;
      height: 36px;
        &:focus { 
        background-color: $white;
        border-bottom-color: $border;
        border-bottom-width: 2px;
        transition: $timing;
      }
    }
    textarea { height: auto }
  }
  &.fred--modal_loading {
    background: rgba($black,0.8);
    .fred--modal{
      background-color: transparent;
    }
  }

  .fred--modal-header {
    background-color: $light-gray;
    padding: $baseGutter;
    color: $black;

    h1 {
      color: $black;
      font-size: 1.5rem;
    }

    button{
      background: transparent;
      float: right;
      line-height:0;

      svg{fill: darken($darkblue, 10%);}
      &:hover{
        svg{fill:$white;}
      }
    }

  }

  .fred--modal-body{
    background-color: $white;
    font-size: 16px;
    padding: 16px;
    color: $black;
    height: 100%;
    input[type="text"] {
      width: 100%;
      padding: 6px;
    }
    & > div{
      &:before, &:after { content: " "; display: table; }
      &:after { clear: both; }
    }
  }
  .fred--input-group .fred--browse-small {
    margin-bottom: 0;
  }
  .fred--preview{
    text-align: center;
    label{
      text-align: left;
    }
  }
  .fred--browse{
    margin-bottom: 16px;
    input{
      margin-bottom: 0;
    }
  }
  .fred--modal-footer{
    padding: $baseGutter;
    background-color: $offwhite;
    text-align: right;
    button{
      background: $green;
    }
  }

  .tabulator {
    .tabulator-header {
      background: $white;
      border-bottom-width: 1px;
      border-color: $border;
    }
    .tabulator-row {
      .tabulator-cell {
        border-color: $border-light;

        .fred--btn-collections-icon:before {
          width: 24px; height: 24px;
        }
      }
      &:last-of-type {
        .tabulator-cell {
          border-color: $border;
        }
      }
    }
    .tabulator-col-title {
      font-weight: bold; 
    }
    .tabulator-footer {
      border-top-width: 1px;
      border-color: $border;
      margin-top: -1px;
    }
  }

}

.fred--content-preview {
  position: fixed;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  background-color: $black;
  color: $white;
  text-align: center;
  z-index: 99999999999999;

  &_controls{
    height: 80px;
    background-color: $black;
    z-index: 100;
    display: flex;
    flex-flow: row wrap; 
    justify-content: center; 
    align-items: center;
  }
  iframe {
    -webkit-transition: height 240ms ease, width 240ms ease, margin 240ms ease;
    -moz-transition: height 240ms ease, width 240ms ease, margin 240ms ease;
    -o-transition: height 240ms ease, width 240ms ease, margin 240ms ease;
    transition: height 240ms ease, width 240ms ease, margin 240ms ease;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative;
    background-color: #FFF;
    width: 100%;
    height: calc(100% - 51px);
    display: block;
    margin: 0 auto;
  }
  .fred--devices{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    z-index: 1;
    a {
      text-decoration: none;
      display: inline-block;
      outline: none;
      cursor: pointer;
      transition: $timing;
    }
    span {
      text-align: center;
      display: block;
      width: 40px;
      line-height: 70px;
      text-indent: -9999px;
      opacity: 0.75;
      &.active, &:active {
        background-color: $gray;
        outline: none;
      }
    }

    .fred--smartphone-portrait span, .fred--smartphone-landscape span {
      mask: inline-svg('mobile-alt') no-repeat center center;
      mask-size: 33%;
      -webkit-mask: inline-svg('mobile-alt') no-repeat center center;
      -webkit-mask-size: 33%;
      background-color: $offwhite;
    }
    .fred--tablet-portrait span, .fred--tablet-landscape span {
      mask: inline-svg('tabletalt') no-repeat center center;
      mask-size: 65%;
      -webkit-mask: inline-svg('tabletalt') no-repeat center center;
      -webkit-mask-size: 65%;
      background-color: $offwhite;
    }
    .fred--tablet-landscape span, .fred--smartphone-landscape span {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    .fred--auto span {
      text-indent: 0;
      text-transform: uppercase;
      font-size: 10px;
      color: $white;
    }
  }
}
.fred--alert-invalid{
  display: inline-block;
  padding: 8px 16px;
  background: rgba($lightcoral,0.55);
  color: white;
  font-weight: bold;
  font-size: 14px;
  position: fixed;
  z-index: 10111;
  bottom: 18px;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  &:before{
    content: inline-svg('exclamation-triangle',$white);
    height: 14px;
    width: 14px;
    display: inline-block;
  }
}
@media screen and (max-height: 770px) {
  .fred--content-preview{
    &_controls{
      .fred--devices{
        *[class^="fred--tablet"]{
          display: none;
        }
      }
    }
  }
}