

.fred--clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}


.fred--modal-bg{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  background: rgba($black,0.2);

  .fred--modal{
    background-color: $black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    width: 480px;
    max-height: 95vh;
    overflow: auto;
  }
  &.fred--modal_loading{
    background: rgba($black,0.8);
    .fred--modal{
      background-color: transparent;
    }
  }

  .fred--modal-header{
    background-color: $darkblue;
    padding: 8px;
    border-top-left-radius: $radius*2;
    border-top-right-radius: $radius*2;
    color: $white;

    h4{color:$white;}

    button{
      background: transparent;
      float: right;
      line-height:0;

      svg{fill: darken($darkblue, 10%);}
      &:hover{
        svg{fill:$white;}
      }
    }

  }

  .fred--modal-body{
    font-size: 16px;
    padding: 16px;
    color: white;
    height: 100%;
    input[type="text"] {
      width: 100%;
      padding: 6px;
    }
    & > div{
      &:before, &:after { content: " "; display: table; }
      &:after { clear: both; }
    }
  }
  .fred--input-group .fred--browse-small {
    margin-bottom: 0;
  }
  .fred--preview{
    text-align: center;
    label{
      text-align: left;
    }
  }
  .fred--browse{
    margin-bottom: 16px;
    input{
      margin-bottom: 0;
    }
  }
  .fred--modal-footer{
    padding: 8px;
    background-color: $black;
    border-bottom-left-radius: $radius*2;
    border-bottom-right-radius: $radius*2;
    text-align: right;
    button{
      background: $modxgreen;
    }
  }

}

.fred--content-preview {
  position: fixed;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  background-color: $black;
  color: $white;
  text-align: center;
  z-index: 99999999999999;

  iframe {
    -webkit-transition: height 240ms ease, width 240ms ease, margin 240ms ease;
    -moz-transition: height 240ms ease, width 240ms ease, margin 240ms ease;
    -o-transition: height 240ms ease, width 240ms ease, margin 240ms ease;
    transition: height 240ms ease, width 240ms ease, margin 240ms ease;
    -webkit-transform: translate3d(0, 0, 0);
    position: relative;
    background-color: #FFF;
    width: 100%;
    height: calc(100% - 51px);
    display: block;
    margin: 51px auto 0;
  }
  &_controls{
    height: 51px;
    background-attachment: $black;
    z-index: 100;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .fred--devices{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    z-index: 1;
    //top: 8px;
    //left: 50%;
    //margin-left: -104px;
    //border: 1px solid $darkblue;
    a {
      &:first-of-type {
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        -ms-border-radius: 4px 0 0 4px;
        -o-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
      }
      &:last-of-type {
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        -ms-border-radius: 0 4px 4px 0;
        -o-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
        border-right-width: 1px;
      }
      background: $darkblue;
      text-decoration: none;
      border: 1px solid darken($darkblue, 15%);
      border-right-width: 0;
      float: left;
      display: block;
      width: 40px;
      height: 30px;
      outline: none;
      cursor: pointer;
      transition: $timing;
      &:hover {
        background: darken($darkblue, 5%);
      }
      &.active, &:active {
        background: $modxred;
        outline: none;
      }
      &.active span, &:active span {
        opacity: 1;
      }
    }
    span {
      text-align: center;
      display: block;
      width: 40px;
      height: 30px;
      text-indent: -9999px;
      opacity: 0.75;
    }
    .fred--tablet-portrait span, .fred--tablet-landscape span {
      background: transparent inline-svg('tabletalt',$white) 50% 50% no-repeat;
      background-size: 50%;
    }
    .fred--smartphone-portrait span, .fred--smartphone-landscape span {
      background: transparent inline-svg('mobile-alt',$white) 50% 50% no-repeat;
      background-size: 33%;
    }
    .fred--tablet-landscape span, .fred--smartphone-landscape span {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    .fred--auto span {
      text-indent: 0;
      line-height: 30px;
      text-transform: uppercase;
      font-size: 10px;
      color: $white;
    }
  }
}
.fred--alert-invalid{
  display: inline-block;
  padding: 8px 16px;
  background: rgba($lightcoral,0.55);
  color: white;
  font-weight: bold;
  font-size: 14px;
  position: fixed;
  z-index: 10111;
  bottom: 18px;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  &:before{
    content: inline-svg('exclamation-triangle',$white);
    height: 14px;
    width: 14px;
    display: inline-block;
  }
}
@media screen and (max-height: 770px) {
  .fred--content-preview{
    &_controls{
      .fred--devices{
        *[class^="fred--tablet"]{
          display: none;
        }
      }
    }
  }
}