
// COLORS

$blue: #2a4365; //$was: #031723 and #123764
$darkblue: darken($blue, 10%);
$green: #549c89;

$white: #ffffff;
$offwhite: #f1f1f1;
$gray: #b1b1b1;
$light-gray: #e4e4e4;
$dark-gray: darken($gray, 5%);
$black: #272727; 

$border-light: $light-gray;
$border: $gray;

$primary: $blue;
$secondary: $green;

$base: $white; // the base background color, which was $darkblue
$active: $white; // the color that active elemets should be (previously not specified)

//MODX Colors
$modxred: #E12A29;
$modxorange: #ed673e;
$modxblue: #3380C2;
$modxgreen: #42AB4A;
$modxbrightgreen: #95C953;

$lightcoral: #e46363;

// PLACEHOLDERS

$baseGutter: 16px;
$gutter: $baseGutter;
$radius: 4px;
$timing: .3s;
$box-shad-subtle: 0px 3px 15px rgba(0,0,0,0.2);

$btn-padding: $baseGutter/2 $baseGutter;
$btn-padding-small: 3px 11px;
$sidebar-actions-padding: 12px 30px 12px 20px;

$font-family: "Open Sans", Arial, sans-serif;
//Mixins
@mixin draggable{
  cursor: move; /* fallback: no `url()` support or images disabled */
  cursor: url(images/grab.cur); /* fallback: Internet Explorer */
  cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
  cursor:    -moz-grab; /* Firefox 1.5-26 */
  cursor:         grab; /* W3C standards syntax, should come least */
  &:active {
    cursor: url(images/grabbing.cur);
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
  }
}

@mixin btn {
  overflow: visible; // Internet Explorer 11-
  transition-duration: $timing;
  transition-timing-function: ease;
  transition-property: background-color;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: $radius;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  line-height: $baseGutter*1.6;
  height: auto;
}

@mixin btn-disabled{  
  &:disabled, &[disabled]{
    background-color: $dark-gray !important;
    opacity: .8;
    cursor: not-allowed;
    &:hover{
      transform: initial;
    }
  }
}

/*------------------------
mixin that calculates if text needs to be light or dark
depending on the background color passed.

From this W3C document: http://www.webmasterworld.com/r.cgi?f=88&d=9769&url=http://www.w3.org/TR/AERT#color-contrast
			
Color brightness is determined by the following formula: 
((Red value X 299) + (Green value X 587) + (Blue value X 114)) / 1000
------------------------*/

@mixin text-contrast($n) {
  $color-brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
  $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);
  
  @if abs($color-brightness) < ($light-color/2){
    color: white;
  }

  @else {
    color: black;
  }
}