
// COLORS
$blue: #123764;
$darkblue: darken($blue, 5%);
$gray: #747f8a;
$light-gray: #a9abab;
$dark-gray: darken($gray, 20%);
$green: #549c89;
$white: #FEFEFE;
$lightcoral: #e46363;
//$black: #293134;
$black: $blue;

// PLACEHOLDERS
$primary: $blue;
$secondary: $green;

$baseGutter: 16px;
$radius: 4px;
$timing: .3s;

$btn-padding: $baseGutter/2 $baseGutter;
$btn-padding-small: 3px 11px;


//MODX Colors
$modxred: #E12A29;
$modxorange: #ed673e;
//$modxblue: #3380C2;
$modxblue: $darkblue;
$modxgreen: #42AB4A;
$modxbrightgreen: #95C953;

//Mixins
@mixin draggable{
  cursor: move; /* fallback: no `url()` support or images disabled */
  cursor: url(images/grab.cur); /* fallback: Internet Explorer */
  cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
  cursor:    -moz-grab; /* Firefox 1.5-26 */
  cursor:         grab; /* W3C standards syntax, should come least */
  &:active {
    cursor: url(images/grabbing.cur);
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
  }
}

@mixin btn {
  overflow: visible; // Internet Explorer 11-
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: $radius;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  line-height: $baseGutter*1.6;
  height: auto;
}

@mixin btn-disabled{  
  &:disabled, &[disabled]{
    background-color: $dark-gray !important;
    opacity: .8;
    cursor: not-allowed;
    &:hover{
      transform: initial;
    }
  }
}