
// COLORS
$blue: #517B95;
$darkblue: #374b5a;
$gray: #747f8a;
$light-gray: #a9abab;
$dark-gray: darken($gray, 20%);
$green: #549c89;
$white: #FFFFFF;
$black: #293134;

// PLACEHOLDERS
$primary: $blue;
$secondary: $green;

$baseGutter: 16px;
$radius: 4px;
$timing: .3s;

//MODX Colors
$modxred: #E12A29;
$modxblue: #3380C2;
$modxgreen: #42AB4A;
$modxbrightgreen: #95C953;