/*

  FRED UI
  v0.0.1

*/


//Part of the Bootstrap - Need Globally
@import "dragula";
@import "vars";
.fred{
  @import "reset";
  @import "breakpoints";
  @import "utility";
  @import "grids";
  @import "topbar";
  @import "sidebar";
  @import "launcher";
  @import "forms";
  @import "panels";
  @import "flatpickr";
}
.fred,.mce-fred--modxlink{
  @import "choices";
}
.mce-fred--modxlink{
  @import "choices-white";
  @import "tinymce";
}
@import "dropzone";
@import "buttons";
@import "body";